html
  head
    title= 'week 6 assignment - login'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  body    
    div.container
      div.row
        h3.text-muted= 'week 6 assignment'
      div.row
        div.jumbotron  
          h1.display-4= 'please log in'
          h4
            a.btn.btn-primary.btn-lg(href= url) log in
          hr.my-4
          p.lead= 'once logged in, you\'ll be greeted with your g+ display name followed by first and last name in parenthesis. you will also see a button that will direct you to your g+ profile. finally there will be a randomly generated state variable that is created when you click the log in button above.'